<table class="table table-hover align-middle">
  <thead>
    <tr>
      <th>Código</th>
      <th>Nome</th>
      <th style="width:140px;"></th>
    </tr>
  </thead>
  <tbody>
    {% if termo|length < min_len %}
  <div class="text-muted small py-2">
    Digite pelo menos {{ min_len }} caracteres para buscar.
  </div>
  {% else %}
    <div class="cliente-resultados">
      {% for c in clientes %}
        <div class="d-flex justify-content-between align-items-center border rounded px-2 py-1 mb-1">
          <div>
            <strong>{{ c.codigo }}</strong> - {{ c.nome }}
          </div>

          <button type="button"
                  class="btn btn-sm btn-primary"
                  hx-get="{% url 'htmx_cliente_selecionar' c.pk %}"
                  hx-target="#clienteSelecionado"
                  hx-swap="innerHTML">
            Selecionar
          </button>
        </div>
      {% empty %}
        <div class="text-muted small py-2">Nenhum cliente encontrado.</div>
      {% endfor %}
    </div>
  {% endif %}
  </tbody>
</table>


<style>
  .cliente-resultados{
    max-height: 220px;   /* ajuste como quiser */
    overflow-y: auto;
    padding-right: 4px; /* evita “cortar” o scrollbar */
  }
</style>
