<div id="bloco-compativeis">
    <div class="mb-3">
      <label class="form-label">Perfis puxadores</label>
      <div class="border rounded p-2">
        {{ form.puxadores_compativeis }}
      </div>
    </div>
  
    <div class="mb-3">
      <label class="form-label">Puxadores</label>
      <div class="border rounded p-2">
        {{ form.puxadores_simples_compativeis }}
      </div>
    </div>
  
    <div class="mb-3">
      <label class="form-label">Divisores</label>
      <div class="border rounded p-2">
        {{ form.divisores_compativeis }}
      </div>
    </div>
  </div>
  