<div id="bloco-vidros">
    <div class="mb-3">
      <label class="form-label">Espessura do vidro</label>
  
      <select
        name="{{ form.espessura_vidro.name }}"
        id="{{ form.espessura_vidro.id_for_label }}"
        class="form-select"
        hx-get="{% url 'perfil_vidros_por_espessura' %}"
        hx-target="#bloco-vidros"
        hx-swap="outerHTML"
        hx-trigger="change"
        hx-include="closest form"
      >
        {% for opt in form.espessura_vidro.field.choices %}
          <option value="{{ opt.0 }}" {% if opt.0|stringformat:"s" == form.espessura_vidro.value|stringformat:"s" %}selected{% endif %}>
            {{ opt.1 }}
          </option>
        {% endfor %}
      </select>
    </div>
  
    <div class="mb-3">
      <label class="form-label">Vidros</label>
      <div class="border rounded p-2">
        {{ form.vidros_compativeis }}
      </div>
    </div>
  </div>
  