<span id="modalTitulo" hx-swap-oob="true">
  {% if vidro %}Editar Vidro{% else %}Cadastrar Vidro{% endif %}
</span>

<form method="post"
      hx-post="{% if vidro %}{% url 'editar_vidro' vidro.pk %}{% else %}{% url 'cadastrar_vidro' %}{% endif %}"
      hx-target="#conteudoTabela"
      hx-swap="innerHTML">
  {% csrf_token %}

  <div class="row g-3">

    <div class="d-flex justify-content-end mb-3">
      <div class="form-check">
        {{ form.ativo }}
        <label class="form-check-label" for="{{ form.ativo.id_for_label }}">Ativo</label>
      </div>
    </div>

    <div class="col-md-3">
      <label class="form-label">Código</label>
      {{ form.codigo }}
      <div class="text-danger small">{{ form.codigo.errors }}</div>
    </div>

    <div class="col-md-9">
      <label class="form-label">Descrição</label>
      {{ form.descricao }}
      <div class="text-danger small">{{ form.descricao.errors }}</div>
    </div>

    <div class="col-md-4">
      <label class="form-label">Preço</label>
      {{ form.preco }}
      <div class="text-danger small">{{ form.preco.errors }}</div>
    </div>

    <div class="col-md-8">
      <div class="d-flex justify-content-between align-items-center">
        <label class="form-label mb-0">Espessura</label>

        <button type="button"
              class="btn btn-sm btn-outline-secondary"
              hx-get="{% url 'cadastrar_espessura' %}?origem=vidro"
              hx-target="#modalAuxBody"
              onclick="abrirModalAux();">
        + Nova espessura
      </button>
      </div>

      <div id="wrapEspessuraSelect" class="mt-1">
        {{ form.espessura }}
      </div>

      <div class="text-danger small">{{ form.espessura.errors }}</div>
    </div>

  </div>

  <div class="d-flex gap-2 mt-4">
    <button class="btn btn-primary" type="submit">Salvar</button>
    <button class="btn btn-outline-secondary" type="button" data-bs-dismiss="modal">Cancelar</button>
  </div>
</form>
