{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h3>Usuários</h3>

    <button class="btn btn-primary"
            hx-get="{% url 'usuarios_novo' %}"
            hx-target="#modalConteudo"
            data-bs-toggle="modal"
            data-bs-target="#modalCadastro">
      + Novo usuário
    </button>
  </div>

  <div id="conteudoTabela">
    {% include "usuarios/_tabela.html" %}
  </div>
</div>
{% endblock %}
