<!-- Modal auxiliar (para cadastros dentro de outros cadastros) -->
<div class="modal fade" id="modalAux" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">
          <span id="modalTituloAux">Cadastro</span>
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body" id="modalAuxBody">
        <!-- HTMX carrega aqui -->
      </div>

    </div>
  </div>
</div>
