{% extends "base.html" %}
{% block content %}

<div class="d-flex justify-content-between align-items-center mb-3">
  <h3 class="m-0">Acabamentos</h3>

  <button class="btn btn-primary"
          hx-get="{% url 'cadastrar_acabamento' %}"
          hx-target="#modalConteudo"
          data-bs-toggle="modal"
          data-bs-target="#modalCadastro">
    + Cadastrar Acabamento
  </button>
</div>

<div id="conteudoTabela">
  {% include "portas/acabamento/acabamento_tabela.html" %}
</div>

{% endblock %}
