{% extends "base.html" %}
{% block content %}

<div class="d-flex justify-content-between align-items-center mb-3">
  <h3 class="m-0">Espessuras</h3>

  <button class="btn btn-primary"
          hx-get="{% url 'cadastrar_espessura' %}"
          hx-target="#modalConteudo"
          data-bs-toggle="modal"
          data-bs-target="#modalCadastro">
    + Cadastrar Espessura
  </button>
</div>

<div id="conteudoTabela">
  {% include "portas/espessura/espessura_tabela.html" %}
</div>

{% endblock %}